html, body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
}

body {
    font: 16px 'Open Sans', Arial, sans-serif;
    width: 960px;
    margin: 20px auto;
}

a, a:link, a:visited {
    color: #3366cc;
    text-decoration: none;
}

a:hover, a:focus {
    color: #077fff;
    text-decoration: underline;
}

p {
    line-height: 1.3;
}

header, main {
    display: table;
    width: 100%;
}

header > *, main > * {
    display: table-cell;
    vertical-align: top;
}

header li, main > article > ul > li > section > ul > li {
    display: inline-block;
}

main > aside li {
    margin-bottom: 10px;
}

header > ul {
    text-align: right;
    width: 100px;
}

header > ul > li {
    opacity: 0.4;
}

header > ul > li:hover {
    opacity: 1;
}

header p {
    margin: 20px 0;
}

address {
    font-style: normal;
}

main > aside .fa {
    width: 20px;
}

main {
    margin-top: 60px;
}

main > aside {
    width: 200px;
}

main > article > ul > li > section > ul > li {
    background: #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #333;
}

h1 {
    font-size: 18px;
    background: #333;
    padding: 5px 0;
    display: inline-block;
}

h1 > span {
    padding: 3px 5px;
    line-height: 1.5;
    font-family: monospace;
    font-weight: normal;
}

h1 .header-control {
    color: #f92650;
}

h1 .header-line {
    color: #999;
    background: #222;
    padding: 7px 10px;
}

h1 .header-code {
    background: #333;
    color: #fff;
}

h1 .header-string {
    color: #b78686;
}

h1 .header-method {
    color: #94ccfd;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 5px;
}

main > article {
    font-size: 14px;
}

main > article > ul > li {
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0;
    padding-right: 0;
    display: table;
    width: 100%;
    margin-bottom: 40px;
}

main > article > ul > li > * {
    display: table-cell;
    vertical-align: top;
}

main > article > ul > li > aside {
    width: 64px;
}

main > article > ul > li > aside img {
    width: 64px;
}

main > article > ul > li > aside span {
    font-weight: bold;
    font-size: 48px;
}

main > article > ul > li > section {
    padding-left: 20px;
}

main > article > ul > li > section > span {
    color: #999;
}

main > article > ul > li > section h3 > span {
    font-weight: normal;
    margin-left: 20px;
    font-size: 14px;
    color: #666;
}

main > article > ul > li > section > ul {
    float: right;
}

main > article p {
    margin-top: 10px;
    line-height: 1.5;
}

footer {
    font-size: 12px;
    color: #666;
    opacity: 0.7;
    line-height: 1.5 !important;
    margin-top: 40px;
}

.technology-php {
    background: #757ab4;
    color: #fff;
    font-weight: bold;
}
.technology-symfony23, .technology-silex, .technology-symfony2, .technology-symfony3 {
    background: #000;
    color: #fff;
    font-weight: bold;
}
.technology-crossbario {
    color: #333;
    background: #ffdd00;
    font-weight: bold;
}